<h1>Listado de documentos CSV cargados</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @documentos.each do |documento| %>
  <tr>
    <td><%= link_to 'Mostrar', documento %></td>
    <td><%= link_to 'Editar', edit_documento_path(documento) %></td>
    <td><%= link_to 'Eliminar', documento, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Documento', new_documento_path %>
